
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-beige-dark);
}

.containerMenu {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.menuContainer {
  background-color: var(--color-black);
  border-radius: 100%;
  color: white;
  cursor: pointer;
  position: absolute;
  width: 210px;
  height: 210px;
  left: -120px;
  top: -120px;
  transition: all 0.3s;
}

.menuContainer.fullMenu {
  border-radius: 0;
  padding: 0 !important;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s;
}

.fullMenu .menuButton {
  top: 40px;
  left: 40px;
}

.menuButton {
  color: white;
  font-size: 3.5em;
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 10;
  transition: all 0.3s;
}
.menuButton i {
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}
.menuButton i:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.overlayContainer.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlayContainer.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlayContainer.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlayContainer.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlayContainer.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlayContainer nav {
  font-size: 3.2em;
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  text-align: center;
}
.overlayContainer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlayContainer ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlayContainer ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}
.overlayContainer ul li a:hover, .overlayContainer ul li a:focus, .overlayContainer ul li a:active {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.menu-link {
    all: unset;
    cursor: pointer;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    transition: all 0.3s;
  }
  
  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    opacity: 1;
    transform: scale(1.2);
  }