/* src/styles/common/circularTextLoader.css */
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-beige-dark);
}
