/* src/styles/Pages/Home/Home.css */

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-beige-light);
  }
  
  .homeContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .birthdayText {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color-black);
    text-align: center;
  }
  
  .homeFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  