/* src/index.css */
@import './styles/variables.css';

html {
  font-size: 62.5%; /* 1rem = 10px para facilitar cálculos */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.6;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
